#upload-container .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Defining custom variables */
:root {
    --sabbia-scura: #d2b48c;
    --sabbia-chiara: #f4e5c3;
    --testo-scuro: #333;
    --bordo: #c5a770;
}

/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: var(--sabbia-chiara);
    color: var(--testo-scuro);
    margin: 0;
    padding: 0;
}

/* Navbar Styling */
.navbar {
    background-color: var(--sabbia-scura);
}

.navbar .navbar-brand {
    color: var(--sabbia-chiara);
}

.navbar .navbar-brand:hover {
    color: var(--bordo);
}

.navbar-nav .nav-link {
    color: var(--sabbia-chiara);
}

.navbar-nav .nav-link:hover {
    color: var(--bordo);
}

/* Main Section Styling */
#home-section h2 {
    color: var(--sabbia-scura);
}

#home-section p {
    color: var(--testo-scuro);
}

/* Card Styling */
.card {
    border: 1px solid var(--bordo);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--sabbia-chiara);
}

.card-body {
    color: var(--testo-scuro);
}

.card-title {
    color: var(--sabbia-scura);
}

.card .card-img-top {
    border-bottom: 2px solid var(--bordo);
}

/* Carousel Styling */
.carousel-item {
    background-color: var(--sabbia-chiara);
    padding: 20px 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--bordo);
}

/* Footer Styling */
footer {
    background-color: var(--sabbia-scura);
    color: var(--sabbia-chiara);
}

footer a {
    color: var(--sabbia-chiara);
}

footer a:hover {
    color: var(--bordo);
}

/* Button Styling */
.btn-primary {
    background-color: var(--bordo);
    border: none;
}

.btn-primary:hover {
    background-color: var(--sabbia-scura);
}

.btn-success {
    background-color: var(--bordo);
    border: none;
}

.btn-success:hover {
    background-color: var(--sabbia-scura);
}
